<h1>CASA</h1>
<p>Find me in app/views/miprueba/index.html.erb</p>

<% for i in 1..5 %>
	<p>Hola Mundo!, número: <%= i %></p>
<% end %>

<!-- Cuando se añade el = se le esta diciendo a Ruby que imprima en pantalla -->
Mes: <%= @mes %>
Día: <%= @dia %>

